img {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0.2;
}
html, body {
    position: relative;
    margin: 0;
}
.table {
    font-family: consolas;
    display: flex;
    margin: 6vh 0;
}
.table > div {
    margin: auto;
}
h1 {
    text-align: center;
    font-size: 2vw;
}
.row {
    display: flex;
    /* margin: 5px 0; */
    margin: 0.25vw 0;
}
.element {
    display: flex;
    flex-direction: column;
    /* width: 50px; */
    width: 3.5vw;
    /* height: 50px; */
    height: 6vh;
    /* border: 1px solid #333; */
    border: 0.1vw solid #333;
    /* padding: 5px; */
    padding: 0.25vw;
    /* margin: 0 5px; */
    margin: 0 0.25vw;
    /* font-size: 10px; */
    font-size: 0.75vw;
}
.type {
    /* padding: 5px; */
    padding: 0.25vw;
    /* width: 56px; */
    width: 3.5vw;
    /* height: 56px; */
    height: 6vh;
    text-align: center;
    /* font-size: 10px; */
    font-size: 0.6vw;
}
.atomic-weight {
    color: #333;
    text-align: right;
    margin-bottom: auto;
}
.symbol {
    text-align: center;
    font-weight: bold;
    /* font-size: 16px; */
    font-size: 1vw;
    color: #000;
}
.number {
    color: #111;
    margin-top: auto;
}
.flex {
    flex: 1;
}
.hide {
    opacity: 0;
}
.layout-row {
    display: flex;
}
.layout-center {
    margin: auto;
}
.layout-right {
    margin: auto 0 auto auto;
}
.sub-title {
    /* width: 100px; */
    width: 7vw;
    text-align: right;
    /* margin: auto 5px; */
    margin: auto 0.25vw;
    font-size: 1vw;
}
.alkali-metal {
    background: #FF1493;
}
.alkaline-earth {
    background: #FF00FF;
}
.transition-metal {
    background: #48D1CC;
}
.basic-metal {
    background: #FF8C00;
}
.semimetal {
    background: #32CD32;
}
.nonmetal {
    background: #6495ED;
}
.halogen {
    background: #FFFF00;
}
.noble-gas {
    background: #FFD700;
}
.lanthanide {
    background: #ADFF2F;
}
.actinide {
    background: #FF6347;
}
.hr {
    width: 100%;
    height: 1vh;
}
